<div class="container">
    <div class="row">
        <h3 class="posicao">Minhas Anotações <i class="bi bi-pencil-fill"></i></h3>
        <form [formGroup]="adicionarNotaForm" class="ajuste" novalidate autocomplete="off">

            <div class="col-md-8">
                <label class="control-label">Titulo</label>
                <input class="form-control" type="text" placeholder="Digite o título aqui" name="titulo"
                    formControlName="titulo">
            </div>

            <div class="col-md-8">
                <label class="control-label">Descrição</label>
                <textarea class="form-control" rows="5" placeholder="Digite aqui sua anotação" name="descricao"
                    formControlName="descricao"></textarea>
            </div>
            <div class="row">
                <div class="col-md-7 alinhamento-btn"><button class="btn-salvar" (click)="salvar()">Salvar</button>
                </div>
                <div class="col-md-3"><button class="btn-cancelar" (click)="cancelar()">Cancelar</button></div>
            </div>
        </form>
    </div>
</div>


<div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Título </th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="nota?.length == 0 || nota == null">
                        <td colspan="22" class="not-found">
                            Nenhum registro foi encontrado
                        </td>
                    </tr>
                    <ng-container *ngFor="let x of nota">
                        <tr>
                            <td>{{x.titulo}}</td>
                            <td>{{x.descricao}}</td>

                            <td>
                                    <span><button class="bi bi-pencil-fill" tabindex="0" data-toggle="tooltip" title="Editar">editar</button></span>
                                
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
</div>